.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
/Reports
/target
/.idea
.DS_Store
/.DS_Store
/junk
/secrets
*.iml
